* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
  }
  
  body {
    background: linear-gradient(to right, #ffc0cb, #ea9999, #c295cf);
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .header {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: rgba(100, 80, 200, 0.8);
    color: #ffffff;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .header h1 {
    font-size: 48px;
    display: flex;
    align-items: center;
  }
  
  .header h1 .seo {
    color: #d9dcd6;
  }
  
  .header nav {
    padding-top: 15px;
    margin-right: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
    display: flex;
    align-items: center;
  }
  
  .header nav ul {
    list-style-type: none;
    display: flex;
    align-items: center;
  }
  
  .header ul li {
    margin-left: 25px;
  }
  
  a {
    color: #ffffff;
    text-decoration: none;
  }
  
  p {
    font-size: 16px;
  }
  
  .hero {
    height: 800px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../images/digital-marketing-meeting.jpg");
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .float-left {
    float: left;
    margin-right: 25px;
  }
  
  .float-right {
    float: right;
    margin-left: 25px;
  }
  
  .content {
    width: 75%;
    display: inline-block;
    margin-left: 20px;
  }
  
  .benefits {
    padding: 20px;
    clear: both;
    width: 20%;
    height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: rgba(100, 80, 200, 0.8);
    color: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  
  .benefit-lead, .benefit-brand, .benefit-cost {
    margin-bottom: 32px;
    color: #ffffff;
  }
  
  .benefit-lead h3, .benefit-brand h3, .benefit-cost h3  {
    margin-bottom: 10px;
    text-align: center;
  }
  
  .benefit-lead img, .benefit-brand img, .benefit-cost img  {
    display: block;
    margin: 10px auto;
    max-width: 150px;
  }
  
  .search-engine-optimization, .online-reputation-management, .social-media-marketing {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px }