* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
  }
  
  body {
    background: linear-gradient(to bottom , #ffc0cb, #ea9999, #c295cf);
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .section {
    border: 10px solid rgb(37, 4, 44);
    padding: 20px;
    margin: 20px;
}

  .header {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: rgba(41, 7, 210, 0.8);
    color: #fff8f8;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .header h1 {
    font-size: 48px;
    display: flex;
    align-items: center;
  }
  
  .header h1 .seo {
    color: #d9dcd6;
  }
  
  .header nav {
    padding-top: 15px;
    margin-right: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
    display: flex;
    align-items: center;
  }
  
  .header nav ul {
    list-style-type: none;
    display: flex;
    align-items: center;
  }
  
  .header ul li {
    margin-left: 25px;
  }
  
  a {
    color: #ffffff;
    text-decoration: none;
  }
  
  p {
    font-size: 16px;
  }
  
 img {
    width: 500px;
    height: 300px;
 }
  
  .float-left {
    float: left;
    margin-right: 25px;
  }
  
  .float-right {
    float: right;
    margin-left: 25px;
  }
  
  .content {
    width: 75%;
    display: inline-block;
    margin-left: 20px;
  }
  #work {
    display: flex;
    flex-direction: column;
    align-items: center;
   }
   
   .gallery {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 20px;
    padding: 50px;
   }
   
   .gallery a {
    display: block;
    margin-bottom: 20px;
   }
   
   .gallery img {
    display: block;
    width: 100%;
    height: auto;
   }